* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: #c8c6af;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 60vh;
    width: 30vw;
    margin-top: 20vh;
    background-color: white;
    padding-left: 2%;
    border-radius: 20px;
    padding-top: 3%;
    padding-right: 2%;
}

h6 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.input, input {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    margin-bottom: 10%;
}

input {
    padding-left: 3px;
    border: 1px solid gray;
}

.conversion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15%;
    margin-bottom: 2.5rem;
}

.from, .to {
    width: 30%;
}

.from-dropdown, .to-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    gap: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

img {
    height: 50px;
}

.res {
    width: 100%;
    font-weight: bolder;
    margin-bottom: 2.5rem;
}

button {
    background-color: #03bafc;
    height: 40px;
    width: 90%;
    margin-left: 5%;
    border-radius: 6px;
}

select {
    height: 50px;
    width: 50px;
    border: none;
}